.search-box {
  margin-top: 1rem;
  background: white;
  height: 5rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms;
  box-shadow: 0px 1px 1px rgba(0,0,0,.3);
  border-radius: 4px;
}

.search-box:hover {
  transform: scale(1.05);
}

.search {
  height: 50px;
  width: 60%;
  font-size: 20px;
  padding-left: 1rem;
  border: none;
  border-right: none;
  box-shadow: 1px 1px 0px rgba(0,0,0,.3);
  transition: all 200ms;
  border-left: solid 3px #2980b9;
}

.search:hover {

}

.search-btn {
  height: 54px;
  border-radius: none;
  border-left: none;
  background: #2980b9;
  color: white;
  transition: all 200ms;
  cursor: pointer;
}

.search-btn:hover {
  background: #3498db;
}

.pokemon-info {
  margin-top: 1rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,.3);
  border-left: solid 3px #c0392b;
  border-radius: 4px;
  transition: all 150ms;
}

.pokemon-info:hover {
  transform: scale(1.05);
}

@keyframes togglePokemon {
  from {
    transform: translateX(20rem);
  }

  to {
    transform: translateX(0rem);
  }
}

.pokemon-list-container {
  animation-name: togglePokemon;
  animation-duration: 200ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  position: absolute;
  right: 0;
  top: 0rem;
  width: 20rem;
  height: 100vh;
  overflow-y: scroll;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
  box-shadow: 0px 0px 1px rgba(0,0,0,.3);
}

.align-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.toggle-pokemon-btn {
  margin-top: 1rem;
  width: 30rem;
  padding: 1rem 0rem;
  transition: all 150ms;
  background: #2c3e50;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 4px;
}

.toggle-pokemon-btn:hover {
  transform: translateY(-2px);
}

.listed-pokemon {
  position: relative;
  height: 5rem;
  width: 20rem;
  box-shadow: 0px 0px 1px rgba(0,0,0,.3);
  transition: all 150ms;
  cursor: pointer;
}

.listed-pokemon:hover {
  border-left: solid 10px #2980b9;
  /*color: white;*/
}

.listed-img {
  position: absolute;
  top: 0;
  right: 0;
}

.listed-p {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-weight: bold;
}
