/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background: #ecf0f1;
  font-family: sans-serif;
  border-left: solid 10px #2980b9;
  height: 100vh;
}
